<?xml version="1.0"?>
<!--
  This is the default Umbraco Cloud HTTPS/TLS transform file - It is used to ensure that the live site will be running
  via https and force redirects from http to https.
  It does so by setting the "umbracoUseSSL" setting to true, which will tell the Umbraco Backoffice to serve URLs via https
  and it adds a redirect rule that will force the site to run via https, except for when running localhost.

  To disable the forced https, simply remove this file from your repository. This is not advised, as all domains
  on Umbraco Cloud will be running https, as a certificate will be issued for custom domains by the Automatic TLS feature,
  and all [alias].s1.umbraco.io domains will already be protected.

  For more info about how this file is working check: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
  Documentation for the redirect rule can be found on our: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-up/Manage-Domains/Rewrites-on-Cloud/#running-your-site-on-https-only
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="umbracoUseSSL" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules xdt:Transform="InsertIfMissing">
        <rule xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="Umbraco Cloud HTTPS redirect rule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>