@using Umbraco.Core.Models.PublishedContent;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var IageDescription = Model.AncestorOrSelf(2).Value<IEnumerable<IPublishedElement>>("footerImageDescription");
    <div class="row mrt-36">
    @foreach (var item in IageDescription)
    {           
        <div class="col-md-2"><img src="@(item.Value<IPublishedContent>("imagePath").Url)" alt="@item.Value("imageTitle")" title="@item.Value("imageTitle")"/></div>
        @item.Value("imageDescription")
    }
    </div>
}